.grid-container {
  display: grid;
  grid-template-rows: 8vh 90vh;
  grid-template-columns: 20vw 79vw;
  grid-template-areas:
      'top top'
      'side main';
}

.grid-item-1{
    grid-area:top;
    background-color:white;
}

img{
  width:20vh
}
.grid-item-2{
    grid-area:main;
    background-color:rgb(245 245 245);
}
.grid-item-3{
    grid-area:side;
    background-color:green;

    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas:
          'side_top'
          'side_bottom';
}
.grid-item-3-1 {
    padding: 20px;
    padding-top: 40px;
    grid-area: side_top;
    background-color: rgb(51 63 82);
    text-align: center;
  Overflow-y:scroll;
}
.grid-item-3-2 {
    grid-area: side_bottom;
    background-color: rgb(39 49 66);
    text-align: center;
    font-size: 15px;
}

#logo{
    margin-top: 20px;
    margin-left: 5px;
}

.utilizador{
padding: 10px
}

#id_palavra_passe:after{
    content:" *";
    color: red;
}

#form_0 > p:nth-child(2) {
  margin-top:25vh;
  margin-left: 3vw;
  position:absolute;
  background-color:white;
  z-index:1;
  top:6vh;
}
#form_0 > p:nth-child(3) {
  position:absolute;
  top:35vh;
  margin-left: 3vw;
  background-color:white;
  z-index:1;
}
#form_0 > p:nth-child(4) {
  margin-left: 3vw;
  background-color:white;

  position:absolute;
  bottom:42vh;

  border-style: solid;
  border-color:rgb(255 255 255);
  border-width: 27.8vh 63.7vw 0px 0px;
  z-index:0
}

#form_0 > p:nth-child(5) {
  margin-top:35vh;
  margin-left: 3vw;
  background-color:white;

  position:absolute;
  top: 5vw;
  z-index:1;
}

#form_0 > p:nth-child(6) {
  background-color:white;

  position:absolute;
  left: 23.5vw;
  bottom: 10.9vw;
  z-index:1

}

#form_0 > p:nth-child(8) {
  position:absolute;
  bottom:11vh;
  margin-left: 3vw;
  background-color:white;

  border-style: solid;
  border-color:rgb(255 255 255);;
  border-width: 14.2vh 56.15vw 0vh 0vh;
  z-index:0
}

#form_0 > p:nth-child(7) {
  margin-left: 10vw;
  background-color:white;

  position:absolute;
  left: 60vw;
  bottom: 10.9vw;
  z-index:1

}

#guardar_btn{
  margin-left:64.5vw;
  position:absolute;
  bottom: 3vh;
  font-size:x-large;
  color:white;
  border-color:white;
  background-color:rgb(0 173 230);
  border-radius:20px;

  width:192px;
  height:40px;

}

#btn0{
    font-size: 20px;
    height:3vw;
    text-align:left;
    position: absolute;
    bottom: 29.2vh;
    left: 23.44vw;

    width:68.7vw;
    border-color:rgb(235 235 235);
    background-color:rgb(235 235 235);
    z-index:1;
}

#btn1{
    font-size: 20px;
    height:3vw;
    text-align:left;
    position: absolute;
    top:20vh;
    left: 23.4vw;
    width: 68.7vw;
    border-color:rgb(235 235 235);
    background-color:rgb(235 235 235);
    z-index:1;
}


#main_utilizador{
  padding-left:60px;
  font-size:x-large
}

#cancelar_btn{
  text-decoration: none;
  color:black;
  text-align:center;
  margin-left:50.5vw;
  position:absolute;
  bottom: 3vh;
  font-size:x-large;

  border-color:white;
  background-color:white;
  border-radius:20px;

  width:192px;
  height:30px;
  padding-top:10px;
}

.edit_btn{
  text-decoration: none;
  color:black;
}

